ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    text-align: center;
    border: 2px solid black;
    background-color: #f7f7f7;
    padding: 1.5rem 1rem 5rem 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

.icon {
    display: inline-block;
    height: 13rem;
    width: 13rem;
    background-image: url("./0-sprite.png");
    background-size: 300%;
    margin-top: 2rem;
}

.i-html {
    background-position: left;
}

.i-css {
    background-position: center;
}

.i-js {
    background-position: right;
}